*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2424;
  padding: 20px;
}

.main {
  background-color: #f5f5f5;
  max-width: 800px;
  height: 600px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.die {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.1em 0.2em .5em rgb(0 0 0 / 60%);
  cursor: pointer;
}

.container {
  width: 600px;
  height: 240px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px;
  grid-auto-rows: 60px;
  grid-gap: 15px;
}

.roll-btn {
  font-size: 24px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  color: white;
  background-color: #5035ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}